DATABASE_URL="postgresql://test:test@localhost:5436/contest_test"
SNAPSHOT_URL="postgresql://test:test@localhost:5437/contest_test2"

REDIS_URL="redis://localhost:6381"
JWT_SECRET="" # Should match with the servers env

PORT=8000
BACKEND_URL="http://localhost:8000"
FRONTEND_URL="http://localhost:3000"